body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  width: 400px;
  height: 400px;
}

img {
  width: 400px;
}

h1 {
  font-size: 20px;
}
